h1 {
    color: brown;
}

#ft-title {
    color: darkviolet;
}
#dom-title {
    background-color: aquamarine;
}
.place {
    color: slateblue;
}
.fruits-container li {
    color: goldenrod;
}
.bg {
    background-color: burlywood !important;
}
.large-text {
    font-size: 2em;
}